/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "lightbox";

html{
  height: 100%;
}
body{
  height: 100%;
}

div.background{
  height: auto;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div#background_0 { background-image: image-url("0.jpg"); }
div#background_1 { background-image: image-url("1.jpg"); }
div#background_2 { background-image: image-url("2.jpg"); }
div#background_3 { background-image: image-url("3.jpg"); }
div#background_4 { background-image: image-url("4.jpg"); }
div#background_5 { background-image: image-url("5.jpg"); }
div#background_6 { background-image: image-url("6.jpg"); }
div#background_7 { background-image: image-url("7.jpg"); }
div#background_8 { background-image: image-url("8.jpg"); }
div#background_9 { background-image: image-url("9.jpg"); }
div#background_10 { background-image: image-url("10.jpg"); }
div#background_11 { background-image: image-url("11.jpg"); }
div#background_12 { background-image: image-url("12.jpg"); }
div#background_13 { background-image: image-url("13.jpg"); }
div#background_14 { background-image: image-url("14.jpg"); }
div#background_15 { background-image: image-url("15.jpg"); }
div#background_16 { background-image: image-url("16.jpg"); }
div#background_17 { background-image: image-url("17.jpg"); }
div#background_18 { background-image: image-url("18.jpg"); }
div#background_19 { background-image: image-url("19.jpg"); }
div#background_20 { background-image: image-url("20.jpg"); }
div#background_21 { background-image: image-url("21.jpg"); }
div#background_22 { background-image: image-url("22.jpg"); }
div#background_23 { background-image: image-url("23.jpg"); }
div#background_24 { background-image: image-url("24.jpg"); }
div#background_25 { background-image: image-url("25.jpg"); }
div#background_26 { background-image: image-url("26.jpg"); }
div#background_27 { background-image: image-url("27.jpg"); }
div#background_28 { background-image: image-url("28.jpg"); }
div#background_29 { background-image: image-url("29.jpg"); }
div#background_30 { background-image: image-url("30.jpg"); }
div#background_31 { background-image: image-url("31.jpg"); }
div#background_32 { background-image: image-url("32.jpg"); }
div#background_33 { background-image: image-url("33.jpg"); }
div#background_34 { background-image: image-url("34.jpg"); }
div#background_35 { background-image: image-url("35.jpg"); }
div#background_36 { background-image: image-url("36.jpg"); }
div#background_37 { background-image: image-url("37.jpg"); }
div#background_38 { background-image: image-url("38.jpg"); }
div#background_39 { background-image: image-url("39.jpg"); }
div#background_40 { background-image: image-url("40.jpg"); }
div#background_41 { background-image: image-url("41.jpg"); }
div#background_42 { background-image: image-url("42.jpg"); }
div#background_43 { background-image: image-url("43.jpg"); }
div#background_44 { background-image: image-url("44.jpg"); }
div#background_45 { background-image: image-url("45.jpg"); }
div#background_46 { background-image: image-url("46.jpg"); }
div#background_47 { background-image: image-url("47.jpg"); }
div#background_48 { background-image: image-url("48.jpg"); }
div#background_49 { background-image: image-url("49.jpg"); }
div#background_50 { background-image: image-url("50.jpg"); }
div#background_51 { background-image: image-url("51.jpg"); }
div#background_52 { background-image: image-url("52.jpg"); }
div#background_53 { background-image: image-url("53.jpg"); }
div#background_54 { background-image: image-url("54.jpg"); }
div#background_55 { background-image: image-url("55.jpg"); }
div#background_56 { background-image: image-url("56.jpg"); }
div#background_57 { background-image: image-url("57.jpg"); }
div#background_58 { background-image: image-url("58.jpg"); }
div#background_59 { background-image: image-url("59.jpg"); }
div#background_60 { background-image: image-url("60.jpg"); }
div#background_61 { background-image: image-url("61.jpg"); }
div#background_62 { background-image: image-url("62.jpg"); }
div#background_63 { background-image: image-url("63.jpg"); }
div#background_64 { background-image: image-url("64.jpg"); }
div#background_65 { background-image: image-url("65.jpg"); }
div#background_66 { background-image: image-url("66.jpg"); }
div#background_67 { background-image: image-url("67.jpg"); }
div#background_68 { background-image: image-url("68.jpg"); }
div#background_69 { background-image: image-url("69.jpg"); }
div#background_70 { background-image: image-url("70.jpg"); }
div#background_71 { background-image: image-url("71.jpg"); }
div#background_72 { background-image: image-url("72.jpg"); }
div#background_73 { background-image: image-url("73.jpg"); }
div#background_74 { background-image: image-url("74.jpg"); }
div#background_75 { background-image: image-url("75.jpg"); }
div#background_76 { background-image: image-url("76.jpg"); }
div#background_77 { background-image: image-url("77.jpg"); }
div#background_78 { background-image: image-url("78.jpg"); }
div#background_79 { background-image: image-url("79.jpg"); }
div#background_80 { background-image: image-url("80.jpg"); }
div#background_81 { background-image: image-url("81.jpg"); }
div#background_82 { background-image: image-url("82.jpg"); }
div#background_83 { background-image: image-url("83.jpg"); }
div#background_84 { background-image: image-url("84.jpg"); }
div#background_85 { background-image: image-url("85.jpg"); }
div#background_86 { background-image: image-url("86.jpg"); }
div#background_87 { background-image: image-url("87.jpg"); }
div#background_88 { background-image: image-url("88.jpg"); }
div#background_89 { background-image: image-url("89.jpg"); }
div#background_90 { background-image: image-url("90.jpg"); }

div#content {
  height: auto;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
